body {
    background-image: url(images/background-characters.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characters {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 2em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    position: absolute;
    top: 40px;
}

.two-characters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px; /
}

.sandh {
    text-align: center;
}

.sandh img {
    width: 250px; 
    height: 500px; 
    border: 2px solid #fff; 
    border-radius: 10px; 
    transition: transform 0.3s; 
}

.sandh img:hover {
    transform: scale(1.1); 
}

h3 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

@media (max-width: 768px) {
    .title {
        font-size: 3em;
        top: 20px;
    }

    .two-characters {
        gap: 30px; 
    }

    .sandh img {
        width: 150px; 
        height: 300px;
    }

    h3 {
        font-size: 1.2em; 
    }
}